body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    position: relative;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    margin: 0;
    padding: 0;
}

.welcome {
    display: flex;
    flex-direction: column;
    visibility: visible;
}

.hidden {
    display: none;
    visibility: hidden;
}

.player-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: left;
    row-gap: 5px;
    visibility: visible;
}


.container {
    text-align: center;
}

h1 {
    font-family: Arial, sans-serif;
    font-size: 2.5rem;
    color: #333;
}
h2 {
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
    color: #333;
}

#gameboard {
    display: flex;
    flex-direction: row;
}

.gameboard-col {
    display: flex;
    flex-direction: column;
}

.gameboard-col:hover {
    cursor: pointer;
}

.gameboard-slot {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Shapes */

.square {
    width: 110px;
    height: 110px;
    position: relative;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
}

/* Colors */
.red {
    background: red
}
.blue {
    background: blue
}
.white {
    background: white
}
.black {
    background: black
}
.brown {
    background: rgb(132, 72, 0);
}
.transparent {
    background: transparent;
}
